.App {
  text-align: center;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.userCard {
  border: 2px solid red;
  width: 100%;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  text-align: left;
  background-color: beige;
}

.btnCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  padding: 20px;
  background-color: #f0b3bd;
  border: 3px solid #ff1940;
}

.btn {
  border: 1px solid #fafafa;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
